
<div style="margin-left: -4%; ">
    <div class="container-xxl py-9">
        <div class="row">

<div id="myModal" class="modal login-box" style="margin: 0px auto;">
    <div class="container-xxl py-9">
        <div class="row">
<div class=" bg-4" style="padding:2em">   
    <form class="centriraj needs-validation" (ngSubmit)="submit()" ngNativeValidate novalidate>
      <div class="form-group">
        <label for="ime" style="color: white;">Unos nove obavijesti</label>
        <input type="text" class="form-control" name="ime" placeholder="Unesite naslov" required  [(ngModel)]="oba.naslov">
        <div class="invalid-feedback">Unesite naslov.</div>
      </div>
      <div class="form-group">
        <label for="prezime" style="color: white;">Opis</label>
        <textarea class="form-control" name="prezime" placeholder="Unesite opis" rows="3" required  [(ngModel)]="oba.opis"></textarea>
        <div class="invalid-feedback">Unesite opis.</div>
      </div>
      <div class="form-group">
        <label for="prioritet" style="color: white;">Prioritet</label>
        <select class="form-control" name="prioritet" required  [(ngModel)]="oba.prioritet">
          <option value="">Odaberite prioritet</option>
          <option value=3>Nizak</option>
          <option value=2>Srednji</option>
          <option value=1>Visok</option>
        </select>
        <div class="invalid-feedback">Odaberite prioritet.</div>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary"  onclick="document.getElementById('myModal').style.display='none'">Spremi</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal"  onclick="document.getElementById('myModal').style.display='none'">Zatvori</button>
      </div>
    </form>
  </div>
</div>
</div>
</div>

  <h2>Obavijesti studentske referade | <a href="www.moj.tvz.hr" target="_blank">Moj.tvz</a></h2>
  <h4><span  class="dot1"> </span>Važno<span  class="dot2"> </span>Bitno<span  class="dot3"> </span>Informativno</h4>
  <h4>  <button style="width: 200PX;"  class="custom-btn btn-4" onclick="document.getElementById('myModal').style.display='block'" *ngIf="roles[0] == 'REFERADA'">DODAJ OBAVIJEST</button>
  </h4>

<div *ngFor="let x of obavijesti" style="margin-top: -15px;">
    <div class="timeline__event  animated fadeInUp delay-3s timeline__event--type1"   *ngIf="x.prioritet === 1">
        <div class="timeline__event__icon">
          <div class="timeline__event__date" >
            {{x.timestamp}}
          </div>
        </div>
        <div class="timeline__event__content ">
          <div class="timeline__event__title">
            {{x.naslov}}
          </div>
          <div class="timeline__event__description"  style="width: 800px;">
            <p> {{x.opis}}</p>
          </div>
        </div>
      </div>
    
      <div class="timeline__event  animated fadeInUp delay-3s timeline__event--type2"  *ngIf="x.prioritet === 2">
        <div class="timeline__event__icon">
        <div class="timeline__event__date" >
          {{x.timestamp}}
        </div>
    </div>
      <div class="timeline__event__content ">
        <div class="timeline__event__title">
          {{x.naslov}}
        </div>
        <div class="timeline__event__description" style="width: 800px;">
          <p> {{x.opis}}</p>
        </div>
      </div>
    </div>

    <div class="timeline__event  animated fadeInUp delay-3s timeline__event--type3"  *ngIf="x.prioritet === 3">
        <div class="timeline__event__icon">
        <div class="timeline__event__date">
          {{x.timestamp}}
        </div>
    </div>
      <div class="timeline__event__content ">
        <div class="timeline__event__title">
          {{x.naslov}}
        </div>
        <div class="timeline__event__description" style="width: 800px;">
          <p> {{x.opis}}</p>
        </div>
      </div>
    </div>

</div>
      </div>
    </div>

</div>
