<form class="centriraj" (ngSubmit)="submit()" ngNativeValidate >
    <div class="form-row ">
      <div class="form-group col-md-6">
        <label for="ime">Ime</label>
        <input type="text" class="form-control" name="ime" placeholder="Ime" class="form-control"  [(ngModel)]="osoba.ime" required>
      </div>
      <div class="form-group col-md-6">
        <label for="prezime">Prezime</label>
        <input type="text" class="form-control" name="prezime" placeholder="Prezime" required [(ngModel)]="osoba.prezime">
      </div>
    </div>
    <div class="form-group">
        <label for="adresa">Adresa</label>
        <input type="text" class="form-control" name="adresa" placeholder="Ulica 123" [(ngModel)]="osoba.adresa">
      </div>
      <div class="form-group">
        <label for="grad">Grad</label>
        <input type="text" class="form-control" name="grad" placeholder="Grad" [(ngModel)]="osoba.grad">
      </div>
    <div class="form-group">
      <label for="datumRodenja">Datum rođenja</label>
      <input type="date" class="form-control" name="datumRodenja" placeholder="dd.mm.yyyy" required [(ngModel)]="osoba.datumRodenja">
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" name="email" placeholder="primjer@email.com" required [(ngModel)]="osoba.email">
    </div>
    <button 
      type="submit" class="btn btn-primary">Unos</button>
  </form>