<section  style=" margin-left: -3%; padding-left: 33%;" >
        <div class="col col-lg-6 mb-4 mb-lg-0">
          <div class="card mb-3" style="border-radius: .5rem;">
            <div class="row g-0">
              <div class="col-md-4 gradient-custom text-center text-white" *ngIf="!isReferada"
                style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3-bg.webp"
                  alt="Avatar" class="img-fluid my-5" style="width: 80px;" />
                <h5>{{name}}</h5>
                <p>{{smjer}}</p>
                <button (click)="generiraj()" style="color:white;background-color: rgba(0, 0, 0, .15);">Generiraj Potpisni ključ</button>
              </div>

              <!-- REFERADA -->
              <div class="col-md-4 gradient-custom2 text-center text-white"  *ngIf="isReferada"
              style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava2-bg.webp"
                alt="Avatar" class="img-fluid my-5" style="width: 80px;" />
              <h5>{{name}}</h5>
              <p>REFERADA</p>
            </div>

              <div class="col-md-8">
                <div class="card-body p-4">
                  <h6>Informacije</h6>
                  <hr class="mt-0 mb-4">
                  <div class="row pt-1">
                    <div class="col-6 mb-3">
                      <h6>Email</h6>
                      <p class="text-muted">{{email}}</p>
                    </div>
                    <div class="col-6 mb-3">
                      <h6>Korisničko ime</h6>
                      <p class="text-muted">{{username}}</p>
                    </div>
                  </div>
                  <h6  *ngIf="!isReferada">Pregled upisane godine</h6>
                  <hr class="mt-0 mb-4">
                  <div class="row pt-1" *ngIf="!isReferada">
                    <div class="col-6 mb-3">
                      <h6>Semestar</h6>
                      <p class="text-muted">{{semestar}}.</p>
                    </div>
                    <div class="col-6 mb-3">
                      <h6>Tip upisa</h6>
                      <p class="text-muted"  *ngIf="isRedovan">Redovan upis</p>
                      <p class="text-muted"  *ngIf="!isRedovan">Izvanredni upis</p>
                    </div>
                  </div>
                </div>
          </div>
        </div>
      </div>
    </div>
  </section>