.gradient-custom {
    /* fallback for old browsers */
    background: #f6d365;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right bottom, rgb(101, 147, 246), rgb(59, 61, 135));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right bottom, rgb(126, 200, 229), rgb(13, 15, 106))
    }

    .gradient-custom2 {
        /* fallback for old browsers */
        background: #f6d365;
        
        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to right bottom, rgb(145, 94, 63), rgb(180, 106, 38));
        
       /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to right bottom, rgb(143, 54, 151), rgb(188, 68, 78))
        }