<div class="login-wrap" >
	<div class="login-html">
		<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign in</label>
		<input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign up</label>
		<div class="login-form">
			<div class="sign-in-htm">
				<div class="group">
					<label for="user" class="label">Email</label>
					<input id="user" type="text" class="input" autocomplete="off" 
					placeholder="Enter email" >
				</div>
				<div class="group">
					<label for="pass" class="label">Password</label>
					<input id="pass" type="password" class="input"  placeholder="Enter password" data-type="password" >
				</div>
				<div class="group">
					<button 
                                class="button" type="submit" style="font-weight:bold ;">Login
                            </button>
				</div>
				<div class="hr"></div>
			</div>

            
			<div class="sign-up-htm" >
				<div class="group">
					<label for="user" class="label">Email </label>
					<input id="user" autocomplete="off" type="email" class="input"  placeholder="Sign up with AAI@EduHr "  required>
				</div>
				<div class="group">
					<label for="pass" class="label">Password</label>
					<input id="pass" type="password" class="input" data-type="password" required>
				</div>
				<div class="group">
					<label  class="label">repeat password</label>
					<input id="sd" type="password" class="input" data-type="password" required>
				</div>                                                      
				<div class="group" style="padding-top: 30px;">
					<button primary
                                class="button  btn-primary" type="submit">Sign up
                            </button>
				</div>
				<div class="hr"></div>
			
			</div>
		</div>
	</div>
</div>
