<div class="login-box">
    <h2>Izrada molbe</h2>
    <form  (ngSubmit)="submit()" ngNativeValidate>
      <div class="user-box">
        <input type="text" name="objasnjenje"  [(ngModel)]="molba.objasnjenje">
        <label>Razlog</label>
      </div>
      <div class="user-box">
        <input type="text" name="komentar"  rows="3"  [(ngModel)]="kom.komentar">
        <label>Komentar</label>
      </div>
      <div class="user-box">
        <label for="prioritet">Molba</label><br><br>
        <select id="select"class="form-control" name="prioritet" required   [(ngModel)]="molba.tip">
             <option value="Obrazac zahtjeva za upis kolegija sa drugih smjerova ili studija">Obrazac zahtjeva za upis kolegija sa drugih smjerova ili studija</option>
             <option value="Obrazac zahtjeva za komisijski ispit (članak 44.)">Obrazac zahtjeva za komisijski ispit (članak 44.)</option>
             <option value="Prijava obrane završnog/diplomskog rada">Prijava obrane završnog/diplomskog rada</option>
             <option value="Obrazac za promjenu mentora unutar akademske godine">Obrazac za promjenu mentora unutar akademske godine</option>
             <option value="Obrazac zahtjeva za nastavak studija temeljem članka 20. i 21.">Obrazac zahtjeva za nastavak studija temeljem članka 20. i 21.</option>
             <option value="Obrazac zahtjeva za izradu duplikata studentske iskaznice">Obrazac zahtjeva za izradu duplikata studentske iskaznice</option>
             <option value="Obrazac zahtjeva za izdavanje računa pravnoj osobi">Obrazac zahtjeva za izdavanje računa pravnoj osobi</option>
             <option value="Obrazac zahtjeva za ostvarivanje prijelaza na studij Tehničkog veleučilišta u Zagrebu">Obrazac zahtjeva za ostvarivanje prijelaza na studij Tehničkog veleučilišta u Zagrebu</option>
             <option value="Obrazac zahtjeva za izdavanje ovjerenog nastavnog plana i programa">Obrazac zahtjeva za izdavanje ovjerenog nastavnog plana i programa</option>
             <option value="Zahtjev ostalo">Zahtjev ostalo</option>
             <option value="Obrazac zahtjeva za izdavanje prijepisa ocjena za neaktivnog studenta ili nakon ispisa sa studija">Obrazac zahtjeva za izdavanje prijepisa ocjena za neaktivnog studenta ili nakon ispisa sa studija</option>
             <option value="Obrazac zahtjeva za ispis sa studija Tehničkog veleučilišta u Zagrebu.">Obrazac zahtjeva za ispis sa studija Tehničkog veleučilišta u Zagrebu.</option>
             <option value="Zahtjev za izvanrednu obranu završnog/diplomskog rada">Zahtjev za izvanrednu obranu završnog/diplomskog rada</option>
             <option value="Obrazac za naknadni upis semestra">Obrazac za naknadni upis semestra</option>
             <option value="Obrazac zahtjeva za izdavanje duplikata potvrde o završetku studija, diplome,  dopunske isprave na hrvatskom jeziku ili dopunske isprave na engleskom jeziku">Obrazac zahtjeva za izdavanje duplikata potvrde o završetku studija, diplome,  dopunske isprave na hrvatskom jeziku ili dopunske isprave na engleskom jeziku</option>
             <option value="Obrazac zahtjeva za mirovanje prava i obaveza">Obrazac zahtjeva za mirovanje prava i obaveza</option>
             <option value="Obrazac zahtjeva za promjenu smjera">Obrazac zahtjeva za promjenu smjera</option>
             <option value="Obrazac zahtjeva za upis više od dozvoljenog broja ECTS bodova (35 ECTS)">Obrazac zahtjeva za upis više od dozvoljenog broja ECTS bodova (35 ECTS)</option>
             <option value="Obrazac zahtjeva za priznavanje ispita položenih na drugom Visokom učilištu">Obrazac zahtjeva za priznavanje ispita položenih na drugom Visokom učilištu</option>
             <option value="Obrazac zahtjeva za odgodu plaćanja školarine">Obrazac zahtjeva za odgodu plaćanja školarine</option>
             <option value="Obrazac za upis kolegija bez preduvjeta">Obrazac za upis kolegija bez preduvjeta</option>
             <option value="Obrazac zahtjeva za naknadni upis ili ispis kolegija  (članak 33.)">Obrazac zahtjeva za naknadni upis ili ispis kolegija  (članak 33.)</option>
             <option value="Obrazac zahtjeva za izradu potvrde za izjednačavanje naziva sukladno Zakonu o Visokom obrazovanju i znanosti">Obrazac zahtjeva za izradu potvrde za izjednačavanje naziva sukladno Zakonu o Visokom obrazovanju i znanosti</option>

        </select>
        <div class="invalid-feedback">Izradi.</div>
      </div>
      <button 
      type="submit"  >   <a >
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Izradi
      </a></button>

      <!-- <a >
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Izradi
      </a> -->
    </form>
  </div>




  <select name="koja" class="form form-inline">
</select>