
<div style="margin-left: -4%; ">
    <div class="container-xxl py-9">
        <div class="row">
    <div >
      <label>Pretraga po tip-u:  </label>
      <input [(ngModel)]="mymodelIme"  (input)="valuechangeIme($event)" type="text" placeholder="Pretraga... " style="margin-left: 5px;">
      <span style="display:none">{{mymodelIme}}</span>
      <div class="search"></div><br>
    </div>
  <table id="htmlData"class="table table-hover" style="text-align:center" #TABLE>
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Tip</th>
        <th scope="col">Razlog</th>
        <th scope="col">Status</th>
        <th scope="col">datum</th>
        <th scope="col">Korisnik</th>
        <th scope="col">-</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let x of molba">
        <th scope="row" >{{ x.id }}</th>
        <td>{{ x.tip }}</td>
        <td>{{ x.objasnjenje}}</td>
        <td *ngIf="x.status === 'ODOBRENO'" style="color: #00f932;">{{ x.status }}</td>
        <td *ngIf="x.status === 'ZAHTJEV POSLAN'" style="color: #0d6efd;">{{ x.status }}</td>
        <td *ngIf="x.status === 'ODBIJENO'" style="color: #fd0d0d;">{{ x.status }}</td>
        <td *ngIf="x.status === 'NA_RAZMATRANJU'" style="color: #828737;">{{ x.status }}</td>
        <td>{{ x.datum }}</td>
        <td>{{ x.user }}</td>
        <td  style="color: #0d6efd; cursor: pointer;"  [routerLink]="['/detalji-molbe', x.id]" >Detalji</td>
      </tr>
    </tbody>
  </table>
</div></div></div>

